<section class="row">
  <%= form_tag(trainings_path, method: 'get') do %>
    <%= text_field_tag :search %>
    <%= submit_tag 'Search' %>
  <% end %> 
</section>

<section class="row">
  <% @trainings.each do |training| %>
    <%= render 'shared/training_card', training: training %>
  <% end %>
</section>
